<apex:component Controller="AccountStructure" >
    <apex:slds />
    <style type="text/css">
        .outBorder
        {
            border:1px solid black;
        }
        
        .inBorder
        {
            border-top:1px solid black;
            border-left:1px solid black;
        }
        tr th{
        	border: 1px solid;
        	padding:5px !important;
            white-space: normal;
    		text-align: center !important;
        }
        tr td{
        	padding: 5px !important;
        }
        caption {
            margin: 15px;
            font-size: 30px;
            font-weight: bold;
            color: blue;
        	text-align: center !important;
        }
        .number-content{
        	text-align: center !important;
    		font-size: 13px !important;
        }
    </style>
    <apex:attribute name="currentId" 
                    description="This is the Account Id for displaying Acccount Hierarchy" 
                    type="String" 
                    required="true"
                    />

    <div class="treeNode" style="margin-top: 15px;">
            <apex:repeat value="{!ObjectStructure}" var="pos" >
            <apex:repeat value="{!pos.levelFlag}" var="flag" first="0">
                <apex:image url="/img/tree/empty.gif" height="16" width="20" rendered="{!IF(flag,false,true)}"/>
                <apex:image url="/s.gif" alt="" width="3" height="16" rendered="{!IF(flag,true,false)}"/>
                <apex:image url="/img/tree/chain.gif" height="16" width="20" rendered="{!IF(flag,true,false)}"/>
            </apex:repeat>

            <span height="16" v="top">

            <apex:outputText rendered="{!IF(pos.nodeType=='start',true,false)}">

            </apex:outputText>
            <apex:outputText rendered="{!IF(OR(pos.nodeType=='parent',pos.nodeType=='parent_end'),true,false)}">
                <apex:image id="Tree_parent" url="/img/tree/minus.gif" rendered="{!IF(pos.nodeType=='parent',true,false)}" height="16" width="20" title="Click to expand/collapse nested items." onClick="TreeNodeElement.prototype.toggle(this,'{!pos.nodeId}')"/>
                <apex:image id="Tree_parent_end" url="/img/tree/minusEnd.gif" rendered="{!IF(pos.nodeType=='parent_end',true,false)}" height="16" width="20" title="Click to expand/collapse nested items." onClick="TreeNodeElement.prototype.toggle(this,'{!pos.nodeId}')"/>                

            </apex:outputText>
            <apex:outputText rendered="{!IF(OR(pos.nodeType=='child',pos.nodeType=='child_end'),true,false)}">
           
            </apex:outputText>
            <apex:outputText rendered="{!IF(pos.nodeType=='end',true,false)}">
                <apex:image id="Tree_end" url="/img/tree/nodeEnd.gif" height="16" width="20"/>&nbsp;
            </apex:outputText>
<!-- Change Below -->
            <apex:outputLink value="/one/one.app#/sObject/{!pos.account.id}" style="{!IF(pos.currentNode,'','')}" styleClass="columnHeadActiveBlack" target="_top">{!pos.account.name}</apex:outputLink>

<!-- Include the following if you uses sites with accounts -->

            <apex:outputText style="{!IF(pos.currentNode,'','')}" value=", {!pos.account.Type}" rendered="{!IF(pos.account.Type != '', true, false)}"/>
            <apex:outputText style="{!IF(pos.currentNode,'','')}" value=", {!pos.account.Type_of_Legal_Entity__c}" rendered="{!IF(pos.account.Type_of_Legal_Entity__c!= '', true, false)}"/>&nbsp;
<!-- Stop -->
            </span>
            <div> </div>
            <apex:outputText rendered="{!IF(OR(pos.nodeType=='child_end',pos.nodeType=='child'),false,true)}">
                <div id='{!pos.nodeId}'></div>
            </apex:outputText>
            <apex:outputText rendered="{!IF(OR(pos.nodeType=='child_end',pos.nodeType=='child'),true,false)}">
                <div id='{!pos.nodeId}'><apex:image url="/s.gif" alt="" width="1" height="1"/></div>
            </apex:outputText>
            <apex:repeat value="{!pos.closeFlag}" var="close">
            
            </apex:repeat>            

    </apex:repeat>
    <br/><br/><br/>
    </div>
    <div>
         <apex:dataTable value="{!accounts}" var="account" id="theTable" width="100%"
            rowClasses="odd,even" styleClass="tableClass outBorder">
            <apex:facet name="caption">List Account</apex:facet>
            <apex:column styleClass="inBorder" style="width: 20% !important;">
                <apex:facet name="header">Name</apex:facet>
                <apex:outputText value="{!account.Name}"/>
            </apex:column>
            <apex:column styleClass="inBorder" style="width: 15% !important;">
                <apex:facet name="header">BillingCity</apex:facet>
                <apex:outputText value="{!account.BillingCity}"/>
            </apex:column>
             
            <apex:column styleClass="inBorder number-content" style="width: 10% !important;">
                <apex:facet name="header">Total Potential Amount</apex:facet>
                <apex:outputText value="{!account.Total_Potential_Amount__c}"/>
            </apex:column>
             
            <apex:column styleClass="inBorder number-content" style="width: 10% !important;">
                <apex:facet name="header">Total Approved Amount</apex:facet>
                <apex:outputText value="{!account.Total_Approved_Amount__c}"/>
            </apex:column>
             
            <apex:column styleClass="inBorder number-content" style="width: 10% !important;">
                <apex:facet name="header">Total Contracted Amount</apex:facet>
                <apex:outputText value="{!account.Total_Contracted_Amount__c}"/>
            </apex:column>
            <apex:column styleClass="inBorder number-content" style="width: 10% !important;">
                <apex:facet name="header">Total Disbursed Amount</apex:facet>
                <apex:outputText value="{!account.Total_Disbursed_Amount__c}"/>
            </apex:column>
            <apex:column styleClass="inBorder number-content" style="width: 10% !important;">
                <apex:facet name="header">Remaining Disbursment Amount</apex:facet>
                <apex:outputText value="{!account.Remaining_Disbursment_Amount__c}"/>
            </apex:column>
            <apex:column styleClass="inBorder number-content" style="width: 15% !important;">
                <apex:facet name="header">Account Owner</apex:facet>
                <apex:outputText value="{!account.Owner.name}"/>
            </apex:column>
    
        </apex:dataTable>
    </div>
</apex:component>