<apex:page standardController="Referral__c" extensions="AddReferralsToCampaignExtension" recordSetVar="ops">
    <head>
   		<apex:includeScript value="/lightning/lightning.out.js"/>
    </head>
    <apex:slds />
    <apex:includeLightning />

    <div id="lightning" />


    <script>
    console.log("init apex");
    
    var referralId = '{!referralId}'
    console.log('refid' + referralId);
    $Lightning.use("c:ReferralCampaignApp", function() {
          $Lightning.createComponent("c:ReferralsCampaign",
              { 'isModalOpen' : "true", 'ids': referralId },
              "lightning",
              function(cmp) {
                console.log("button was created");
                // do some stuff
              }
          );
        });
    </script>
</apex:page>