<apex:page standardController="Account">
    <head>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDvExojagB2ARgQNagPQMBK1Jvz-R0HGY4&sensor=false"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <style>
            #map {
                font-family: Arial;
                font-size: 12px;
                line-height: normal !important;
                height: 250px;
                background: transparent;
            }
        </style>
    </head>
    <body>
       <apex:pageBlock title="Contacts">
          <apex:pageBlockTable value="{!account.Contacts}" var="contact">
             <apex:column value="{!contact.Name}"/>
             <apex:column value="{!contact.MailingCity}"/>
             <apex:column value="{!contact.Phone}"/>
          </apex:pageBlockTable>
       </apex:pageBlock>
    	<div id="map" style="width: 100%; height: 400px;"></div>

          <script type="text/javascript">
            var locations = [
              ['Bondi Beach', -33.890542, 151.274856],
            ];
        
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 10,
              center: new google.maps.LatLng(-33.950198, 151.259302),
              mapTypeId: google.maps.MapTypeId.ROADMAP
            });
        
            var infowindow = new google.maps.InfoWindow();
        
            var marker, i, j;
            for(j = 0;j < 150000; j++){
            	var dataMap = [
                	'Map ' + j.toString(), -33.890542 - j/10000, 151.274856 + j/10000
            	];
        		console.log(dataMap + j);
        		locations.push(dataMap);
            }
        	
            for (i = 0; i < locations.length; i++) {  
              marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
              });
        		
              google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                  infowindow.setContent(locations[i][0]);
                  infowindow.open(map, marker);
                }
              })(marker, i));
            }
          </script>
    </body>
</apex:page>