<apex:page controller="AccountCustomController">
    <head>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDvExojagB2ARgQNagPQMBK1Jvz-R0HGY4&sensor=false"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <style>
            #map {
                font-family: Arial;
                font-size: 12px;
                line-height: normal !important;
                height: 250px;
                background: transparent;
            }
        </style>
    </head>
    <body>
         <apex:form id="theForm">
            <apex:pageBlock title="Map">     
                <apex:pageBlock id="pg">
                    <apex:inputText html-placeholder="Country" value="{!country}" id="country">
                        <apex:actionsupport event="onchange" action="{!updatePage}" reRender="theForm">
                        </apex:actionsupport>
                    </apex:inputText>
                    <apex:inputText html-placeholder="City" value="{!city}" id="city">
                        <apex:actionsupport event="onchange" action="{!updatePage}" reRender="theForm">
                        </apex:actionsupport>
                    </apex:inputText>
                    <apex:inputText html-placeholder="Postal Code" value="{!postalCode}" id="postalCode">
                      	<apex:actionsupport event="onchange" action="{!updatePage}" reRender="theForm">
                        </apex:actionsupport>
                    </apex:inputText>
                    <apex:inputText html-placeholder="State/Province" value="{!state}" id="state">
                    	<apex:actionsupport event="onchange" action="{!updatePage}" reRender="theForm">
                        </apex:actionsupport>
                    </apex:inputText>
                    <apex:inputText html-placeholder="Street" value="{!street}" id="street">
                    	<apex:actionsupport event="onchange" action="{!updatePage}" reRender="theForm">
                        </apex:actionsupport>
                    </apex:inputText>
                    <apex:commandButton action="{!updatePage}" value="Search">
                        
                    </apex:commandButton> 
                </apex:pageBlock>
                    <apex:pageBlockSection id="list-account" columns="1">
                        <apex:pageBlockTable value="{!accounts}" var="a">
                            <apex:column headerValue="Account Name" width="30%">
                                <apex:outputLink value="/{!a.ID}"> 
                                    <apex:outputText value="{!a.Name}">
                                    </apex:outputText> 
                                </apex:outputLink>
                            </apex:column>
                            <apex:column value="{!a.BillingCountry}" width="12%"/>
                            <apex:column value="{!a.BillingCity}" width="12%"/>
                            <apex:column value="{!a.BillingPostalCode}" width="12%"/>
                            <apex:column value="{!a.BillingState}" width="12%"/>
                            <apex:column value="{!a.BillingStreet}" width="22%"/>
                        </apex:pageBlockTable>
                    </apex:pageBlockSection>
                    <div align="center">
                         <apex:commandButton value="First Page" action="{!Firstbtn}" disabled="{!prv}" reRender="theForm"/>
                         <apex:commandButton value="PreviousPage" action="{!prvbtn}" disabled="{!prv}" reRender="theForm"/>
                         <apex:commandButton value="NextPage" action="{!Nxtbtn}" disabled="{!nxt}"  reRender="theForm"/>
                         <apex:commandButton value="LastPage" action="{!lstbtn}" disabled="{!nxt}" reRender="theForm"/>
                   	</div>
                <div>
                    <h3>
                        Total account : <span id="total-acc"></span> 
                    </h3>
                </div>
                 </apex:pageBlock>
             <div id="map" style="width: 100%; height: 400px;"></div>

          <script type="text/javascript">
            var myOptions={ zoom: 12,mapTypeId: google.maps.MapTypeId.ROADMAP,mapTypeControl: false, center: {lat: 21.029990, lng: 105.789580} };
            var map;
            var marker;
        
            map = new google.maps.Map(document.getElementById("map"), myOptions);
            var infowindow = new google.maps.InfoWindow();
            var index = 0;
            var index_loop = 0;
            var index1 = 0;
            
            <apex:repeat value="{!maps}" var="map">
                index ++;
             	var myLatLng = {lat: {!map.BillingLatitude}, lng: {!map.BillingLongitude}};
             /*if(index == 0){
                    map.setCenter(myLatLng);
                }*/
             //console.log(index,myLatLng)
             	//center map

             	//create marker
             	marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: "{!map.Name}"
                });
             	google.maps.event.addListener(marker, 'click', (function(marker,index) {
                    return function() {
                        infowindow.setContent("{!map.Name}");
                        infowindow.open(map, marker);
                    }
                })(marker, index));               	
            </apex:repeat>
            document.getElementById("total-acc").innerHTML = index;
          </script>
		</apex:form> 
    </body>
</apex:page>