<apex:page renderAs="pdf" showHeader="true" standardStylesheets="true"
    standardController="Quote" extensions="QuotePdfController" >
    <apex:pageBlock title="Quote Detail">
        <apex:pageBlockSection >
            Name: {! Quote.Account.Name } <br/>
            Lease Quotation Estimate Date: {! todayString }<br/>
        </apex:pageBlockSection>
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockTable border="1" value="{!listRepay}" var="repay" columns="8" columnsWidth="1%,10%,10%,20%,20%,20%,20%">
                 <apex:column >
                        <apex:facet name="header">Repayment Term</apex:facet>
                        <apex:outputText value="{!repay.RepaymentTerm}"/>
                    </apex:column>
                    <apex:column headerValue="Days In Month">
                        <apex:outputText value="{!repay.DaysInMonth}"/>
                    </apex:column>
                    <apex:column headerValue="Repayment Date">
                        <apex:outputText value="{!repay.RepaymentDateStr}"/>
                    </apex:column>
                    <apex:column headerValue="Total Principal Repayment (without VAT)">
                            <apex:outputText value="{0, number,###,###,###}" >
                                <apex:param value="{!repay.TotalPrincipalRepayment}" />    
                            </apex:outputText>
                    </apex:column>
                    <apex:column headerValue=" Total Principal Repayment (with VAT)">
                        <apex:outputText value="{0, number,###,###,###}" >
                            <apex:param value="{!repay.TotalPrincipalRepaymentWithVAT}" />    
                        </apex:outputText>
                    </apex:column>
                    <apex:column headerValue=" Total Outstanding Debt (with VAT)">
                        <apex:outputText value="{0, number,###,###,###}">
                            <apex:param value="{!repay.TotalOutstandingDebt}" /> 
                        </apex:outputText>
                    </apex:column>
                    <apex:column headerValue="Interest Payment">
                        <apex:outputText value="{0, number,###,###,###}">
                            <apex:param value="{!repay.InterestPayment}" /> 
                        </apex:outputText>
                    </apex:column>
                    <apex:column headerValue="Total Repayment by Customer">
                        <apex:outputText value="{0, number,###,###,###}">
                            <apex:param value="{!repay.TotalRepaymentByCustomer}" /> 
                        </apex:outputText>
                    </apex:column>
        </apex:pageBlockTable>
    </apex:pageBlock>
</apex:page>