<apex:page showHeader="true" lightningStylesheets="true" controller="ReportDisbursementController" >  
	
    <apex:outputPanel layout="block" >
        <apex:pageBlock title="Report Disbursement">
            <apex:pageBlockTable id="XXX"  value="{!oppReports}" var="opr">
                <apex:column headerValue="STT">
                    <apex:outputText value="{!opr.stt}" />
                </apex:column>
                <apex:column headerValue="Opportunity Name">
                    <apex:outputText value="{!opr.Opp.Name}" />
                </apex:column>
                <apex:column headerValue="PIC">
                    <apex:outputText value="{!opr.Opp.Name}" />
                </apex:column>
                <apex:column headerValue="Referral">
                    <apex:outputText value="{!opr.Opp.Referral_Type__c}" />
                </apex:column>
                <apex:column headerValue="Stage">
                    <apex:outputText value="{!opr.Opp.StageName}" />
                </apex:column>
                <apex:column headerValue="Previous Month ({!preMonthName})">
                    <apex:outputText value="{0, number,###,###,###}" >
                        <apex:param value="{!opr.AmountPreMonth}" />    
                    </apex:outputText>
                </apex:column>
                <apex:column headerValue="Week 1 ({!week1Name})">
                    <apex:outputText value="{0, number,###,###,###}" >
                        <apex:param value="{!opr.AWeek1}" />    
                    </apex:outputText>
                </apex:column>
                <apex:column headerValue="Week 2 ({!week2Name})">
                    <apex:outputText value="{0, number,###,###,###}" >
                        <apex:param value="{!opr.AWeek2}" />    
                    </apex:outputText>
                </apex:column>
                <apex:column headerValue="Week 3 ({!week3Name})">
                    <apex:outputText value="{0, number,###,###,###}" >
                        <apex:param value="{!opr.AWeek3}" />    
                    </apex:outputText>
                </apex:column>
                <apex:column headerValue="Week 4 ({!week4Name})">
                    <apex:outputText value="{0, number,###,###,###}" >
                        <apex:param value="{!opr.AWeek4}" />    
                    </apex:outputText>
                </apex:column>
                <apex:column headerValue="Week 5 ({!week5Name})" rendered="{!hasFiveWeek}">
                    <apex:outputText value="{0, number,###,###,###}" >
                        <apex:param value="{!opr.AWeek5}" />    
                    </apex:outputText>
                </apex:column>
                <apex:column headerValue="Next Month ({!nextMonthName})">
                    <apex:outputText value="{0, number,###,###,###}" >
                        <apex:param value="{!opr.AmountNextMonth}" />    
                    </apex:outputText>
                </apex:column>
            </apex:pageBlockTable>
         </apex:pageBlock>
    </apex:outputPanel>
</apex:page>