<apex:page >
    <head>
   		<apex:includeScript value="/lightning/lightning.out.js"/>
    </head>
    <apex:slds />
    <apex:includeLightning />

    <div id="lightning" />

    <script>
        $Lightning.use("c:TuanTestApp", function() {
          $Lightning.createComponent("c:TuanTest",
              { label : "Press Me!" },
              "lightning",
              function(cmp) {
                console.log("button was created");
                // do some stuff
              }
          );
        });
    </script>
</apex:page>